extends layout

block content
  h1= title
  p Welcome to #{title}
  p Current Projectname:#{selprojectname} 
  a(href="selproject") Select Project to Use
  p
  a(href="new") Create New Project
  p
  a(href="view") Existing Project
  
  